<table>
    <tr>
        <td>@Html.ActionLink("Livro", "Index", "Livro") | @Html.ActionLink("Leitor", "Index", "Leitor") | @Html.ActionLink("Editora", "Index", "Editora")</td>       
    </tr>
</table>
